@font-face {
  font-family: 'AgentOrange';
  src: local('AgentOrange'), url('./AgentOrange.ttf') format('truetype');
}

.AgentOrange {
  font-family: 'AgentOrange';
}

body, button, input {
  font-family: 'Lato', sans-serif;
}
