@font-face {
  font-family: 'AgentOrange';
  src: local('AgentOrange'), url('./AgentOrange.ttf') format('truetype');
}

.headline {
  font-family: 'AgentOrange';
}

body {
  font-family: 'Lato', sans-serif;
}
